<div>
  {{#round.isPractice}}
    <p class="row mt-4 alert alert-success text-center">Practice Round</p>
  {{/round.isPractice}}
  {{#previousRound}}
    <div class="round-results text-bg-primary p-3 row mt-4">
      <p>Round completed!</p>
    </div>
  {{/previousRound}}
  {{^previousRound}}
    <p class="row mt-4">Here are the rules of the game:</p>
    <p class="row mt-4">
      <ol>
        <li>You will be given a set of goals to achieve.</li>
        <li>You will move blocks to achieve each goal.</li>
        <li>Blocks can be placed on top of other blocks or on the floor of the grid.</li>
        <li>If a block has another block on top of it, it cannot be moved until the block on top of it (i.e., covering it) is moved.</li>
        <li>You will play 10 rounds of the game and each round will have a different goal.</li>
      </ol>
    </p>
    <p class="row mt-4">Goals can be of many forms.
      <ul>
        <li> You may be asked to <b>move</b> a specific type of block (e.g., red) to a specific room (e.g., A). </li>
        <li>You may be asked to <b>clear</b> or <b>fill up</b> a particular room (e.g., A1 or B2).</li>
        <li> You may also be asked to <b>cover</b> or <b>uncover</b> a particular type of block (e.g., red). <b>Covering</b> a block means making
              sure there is another block (of any color) on top of it. <b>Uncovering</b> a block means making sure there is no block (of any color) on top of it.</li>
      </ul>
      As you are dragging and dropping blocks, a checkmark will appear on the screen at different locations to indicate whether a block can be dropped at a given location or not.
      If an X appears, it means either that the block cannot be moved (e.g., it may have another block on top of it) or it cannot be dropped at the specific location (e.g., you can only drop/move a block on top of other blocks or at the floor of the grid).
    </p>
    <p>
      The game will automatically advance to the next round once a goal is achieved. <br> <br>
      If you think that you have achieved a given goal but the game is not advancing, please refresh the page.
    </p>
  {{/previousRound}}
{{#round.isPractice}}
  <p class="row mt-4">Click the button below to continue to the practice round.</p>
{{/round.isPractice}}
{{^round.isPractice}}
  <p class="row mt-4">Click the button below to continue to round {{roundNum}} of 10.</p>
{{/round.isPractice}}
</div>