<div>
<p>You are the Architect. You are playing this game with another person, who is the Helper. 
    The Helper will try to help you attain different secret goals.</p>

<p>The Helper will not know the goal that you are trying to achieve until it is complete. 
    On each trial, you will be able to move a block in order to achieve your secret goal. 
    Your task is to try to complete the assigned goal and split the work with the Helper as 
    much as possible.</p>
</div>