<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Move-A-Block</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/admin.html">Admin</a>
          </li>
        </ul>
      </div>
    <span class="navbar-text">{{#user}}User: {{user}}{{/user}}</span>
  </div>
</nav>