<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Move-A-Block</a>
    <span class="navbar-text">{{#user}}User: {{user}}{{/user}}</span>
  </div>
</nav>