<div>
<p>Nice job! Here are the rules of the collaborative game for both you 
and the Architect:</p>

<p>
<ol>
<li>The Architect will be given a set of goals, which will be unknown to you.</li>
<li>Remember, this is a collaborative game. Do whatever it takes to help each 
other.</li>
<li>You can only move one block on a turn.</li>
<li>Blocks can be placed on top of other blocks or on the floor.</li>
<li>You will play 10 rounds of the game and each round will have a different 
secret goal.</li>
<ol>
<p>
</div>