<div>
<p>You are the Helper. You are playing this game with another person, 
who is the Architect. The Architect is trying to attain different secret 
goals by aligning blocks on a grid.</p>

<p>You will not know the goal that the Architect is trying to achieve 
until it is completed. On each trial, you will be able to either move a 
block or pass your turn. Your task is to help the Architect achieve their 
goal by sharing their work as much as possible.</p>
</div>