body {
    font-family: Arial, Helvetica, sans-serif;
}

#board {
    width: 1000px;
    table-layout: fixed;
    border-collapse: collapse;
}

table {
    border: 1px solid;
}

#goal-text{
    font-size: 20px;
    font-weight: bold;
    color: #2544cd;
}

#move-text{
    font-size: 20px;
    font-weight: bold;
    color: #c07f10;
}

td {
    height: 50px;
    border: 1px dotted #999;
    text-align: center;
}

td.section-label {
    height: 25px;
}

td.subsection-label {
    height: 25px;
}

td.movefrom {
    background-color: yellow;
}

/*td.movefrom > .block {
    visibility: hidden;
}*/

td.moveto {
    background-color: lightgreen;
}

.block {
    margin: auto;
    width: 100%;
    height: 100%;
    /*border: 1px solid;*/
}

.group-RED {
    background-color: red;
}

.group-GREEN {
    background-color: green;
}

.group-BLUE {
    background-color: blue;
}

.subsection-left-edge {
    border-left: 1px dashed rgb(82, 82, 82);
}

.section-left-edge {
    border-left: 1px solid black;
}

.can-drop::before {
    content: "✔️";
}
  
.no-drop::before {
    content: "❌";
}

.header-container {
    min-height: 56px;
    background-color: black;
}

.dragging {
    border-style: dashed;
    border-width: medium;
    border-color: dimgray;
}

.dragging.group-RED {
    background-color: rgba(255, 0, 0, 0.5);
}

.dragging.group-GREEN {
    background-color: rgba(0, 255, 0, 0.5);
}

.dragging.group-BLUE {
    background-color: rgba(0, 0, 255, 0.5);
}