.color-block {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    z-index: 100;
    transition: left 0.75s ease-out, top 0.75s ease-out;
}

.table{
  width: fit-content;
  height: fit-content;
}
.td{
  height: fit-content;
  border: none;
}

#topCard{
  min-height: 115px;
  
}

.table th, .table td {
    border: none;
    text-align: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
}

/* Add vertical lines left of first colum */
#gametable {
  border-left: 3px solid #ccc;
}

/* Add vertical lines between each set of 3 columns */
.table td:nth-child(3n) {
    border-right: 3px solid #ccc;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    height: max-content;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 101;
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:not(.disabled):hover .dropdown-content {
    display: block;
  }
  .dropdown.disabled:hover .dropdown-content {
    display: none;
  }
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


.button{
  height: fit-content;
}

.animated {
  animation: move-up-right 1s ease forwards;
}

@keyframes move-up-right {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0px,-200px);
  }
}

.helperCard {
  border-left: 5px solid #116c42; 
}
.infoCard {
  border-left: 5px solid #444444; 
}
.initCard {
  border-left: 5px solid #0d6efd; 
}

.font-weight-bold {
  font-weight: bold;
}

#tempSquare {
  transition: all 0.5s ease; 
}

#current-player-box {
  
  justify-content: center; /* Center content horizontally */
  text-align: center;      /* Center text if it wraps on multiple lines */
}


#game-complete {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  transition: visibility 0s, opacity 0.5s ease, transform 0.5s ease;
}

#game-complete.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition-delay: 0s;
}
